<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" data-th-action="@{/book/save}" data-th-object="${book}" method="post">
    <table>
        <tbody>
        <tr>
            <td><label>Title:</label></td>
            <td><input type="text"
                       name="title"
                       data-th-field="*{title}"
                       placeholder="Title"></td>
        </tr>
        <tr>
            <td><label>Genre:</label></td>
            <td><input type="text"
                       name="genre"
                       data-th-field="*{genre}"
                       placeholder="Genre"></td>
        </tr>
        <tr>
            <td><input type="submit"></td>
            <td><a id="cancelLink"
                   data-th-href="@{/book/list}">Cancel</a></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>